{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form id="collection_form" method="POST" enctype="multipart/form-data" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">SQL Server Performance Workload and Cost Estimation</legend>
                <div class="form-group">
                    {{ form.assessname.label(class="form-control-label") }}

                    {% if form.assessname.errors %}
                        {{ form.assessname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.assessname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.assessname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.filename.label(class="form-control-label") }}

                    {% if form.filename.errors %}
                        {{ form.filename(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.filename.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.filename(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.outputFolder.label(class="form-control-label") }}

                    {% if form.outputFolder.errors %}
                        {{ form.outputFolder(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.outputFolder.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.outputFolder(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.reportFormat.label(class="form-control-label") }}

                    {% if form.reportFormat.errors %}
                        {{ form.reportFormat(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.reportFormat.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.reportFormat(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.assessType.label(class="form-control-label") }}

                    {% if form.assessType.errors %}
                        {{ form.assessType(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.assessType.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.assessType(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.dblist.label(class="form-control-label") }}
                    {% if form.dblist.errors %}
                        {{ form.dblist(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dblist.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.dblist(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.collectTime.label(class="form-control-label") }}
                    {% if form.collectTime.errors %}
                        {{ form.collectTime(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.collectTime.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.collectTime(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.tenantid.label(class="form-control-label") }}
                    {% if form.tenantid.errors %}
                        {{ form.tenantid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tenantid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tenantid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.subid.label(class="form-control-label") }}
                    {% if form.subid.errors %}
                        {{ form.subid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.subid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.subid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.clientid.label(class="form-control-label") }}
                    {% if form.clientid.errors %}
                        {{ form.clientid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.clientid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.clientid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}

<!--
{% block sidebar %}

<div id="sidebar" class="content-section">

        <h4 style="color:#1d5221";> Azure SQL Database: </h4>
        <article class="media content-section">
                  <div class="media-body">
                        <div class="article-metadata">
                            <input id="button_sqldb" class="bigsize mb-4" type="checkbox", name="button_sqldb"></input> 
                            <label for="button_sqldb">Check Here</label>
                        </div>            
                  </div>
        </article>
        <h4 style="color:#1d5221";> Azure SQL Managed Instance: </h4>
        <article class="media content-section">
                <div class="media-body">
                      <div class="article-metadata">
                        <input id="button_sqlmi" class="bigsize mb-4" type="checkbox", name="button_sqlmi"></input> 
                        <label for="button_sqlmi">Check Here</label>
                  </div>
                </div>
        </article>
        <button class="btn btn-primary updateButton" member_id="view_result">View Result</button>
</div>

{% endblock sidebar %}
-->
