{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="color:#1c08ca"><strong>Validate Input CSV File</strong> </legend>
                <div class="form-group">
                    {{ form.assessname.label(class="form-control-label") }}

                    {% if form.assessname.errors %}
                        {{ form.assessname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.assessname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.assessname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.filename.label(class="form-control-label") }}

                    {% if form.filename.errors %}
                        {{ form.filename(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.filename.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.filename(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.validationType.label(class="form-control-label") }}
                    {% if form.validationType.errors %}
                        {{ form.validationType(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.validationType.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.validationType(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}

{% block sidebar %}

<div id="sidebar" class="content-section">
    <p style="color:#1d5221";> <strong> Config file name including path: </strong></p>
    <article class="media content-section">
              <div class="media-body">
                    <div class="article-metadata">
                        <input id="configFile" class="form-control" type="text" name="configFile" value="{{ configFileFullName }}"></input> 
                        <label for="configFile"></label>
                    </div>            
              </div>
    </article>
    <button class="btn btn-primary saveConfigButton">Save</button>
    <button class="btn btn-primary loadConfigButton" style="float: right">Load</button>
</div>

{% endblock sidebar %}